body {
   font-family: "Overpass Mono";
   padding: 60px;
   padding-left: 100px;
   padding-right: 100px;
   line-height: 1.7;
}

hr {
  width: 20%;
  background-color: gray;
  border: 0.5px solid gray;
}

@media (min-width: 768px) {
    body {
        width: 768px;
    }
}

@media (min-width: 992px) {
    body {
        width: 840px;
    }
}

@media (min-width: 1200px) {
    body {
        width: 1000px;
    }
}

@media (min-width: 1600px) {
   body {
      width: 1140px;
   }
}


body {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

