@media (prefers-color-scheme: dark) {
  a {
    color: #63C963;
  }
  .markdown-body img {
    background: none;
  }
  body {
    background: #26292F;
    color: lightgray;
    box-shadow: 0px 0px 12px 1px #1c1e23;
  }
  
  .light-only {
    display: none;
  }
}
  
@media (prefers-color-scheme: light) { 
  a {
    color: #339933;
  }
  
  body {
      color: #555;
      box-shadow: 0px 0px 12px 1px #57575733;
  }
  
  .dark-only {
    display: none;
  }
}
