body {
   font-family: "Overpass Mono";
}

@media (prefers-color-scheme: dark) {
  a {
    color: #63C963;
  }
  .markdown-body img {
    background: none;
  }
  body {
    background: #26292F;
    color: lightgray;
  }
  
  .light-only {
    display: none;
  }
}

  
@media (prefers-color-scheme: light) { 
  a {
    color: #339933;
  }
  
  .dark-only {
    display: none;
  }
}
